{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}

 :aliases   {:dev  {:extra-paths ["development/src"]

                    :extra-deps  {; Components
                                  poly/article {:local/root "components/article"}
                                  poly/comment {:local/root "components/comment"}
                                  poly/database {:local/root "components/database"}
                                  poly/env {:local/root "components/env"}
                                  poly/log {:local/root "components/log"}
                                  poly/profile {:local/root "components/profile"}
                                  poly/spec {:local/root "components/spec"}
                                  poly/tag {:local/root "components/tag"}
                                  poly/user {:local/root "components/user"}

                                  ; Bases
                                  poly/rest-api {:local/root "bases/rest-api"}}}

             :test {:extra-paths ["components/article/test"
                                  "components/comment/test"
                                  "components/profile/test"
                                  "components/tag/test"
                                  "components/user/test"

                                  "bases/rest-api/test"]
                    :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}}

             :poly {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                    :extra-deps {polylith/clj-poly {:mvn/version "0.2.17-alpha"}}}}}
