{:polylith {:top-namespace "clojure.realworld"}

 :aliases  {:polylith      {:extra-deps {tengstrand/polylith
                                         {:git/url   "https://github.com/tengstrand/polylith.git"
                                          :sha       "011f358cbf81e7c713db0acc1ec63b8f6a292d02"
                                          :deps/root "environments/cli"}}}

            :dev           {:extra-deps {env/realworld-backend {:local/root "environments/realworld-backend"}}}

            :check    {:main-opts ["-m" "polylith.clj.core.cli.poly" "check"]}
            :deps     {:main-opts ["-m" "polylith.clj.core.cli.poly" "deps"]}
            :info     {:main-opts ["-m" "polylith.clj.core.cli.poly" "info"]}
            :test     {:main-opts ["-m" "polylith.clj.core.cli.poly" "test"]}

            :ring {:extra-deps {furkan3ayraktar/polylith-clj-deps-ring
                                {:git/url   "https://github.com/furkan3ayraktar/polylith-clj-deps-ring.git"
                                 :sha       "d74f49da6547fa160f74873d2d0ae3414631750b"
                                 :deps/root "environments/core"}}

                   :main-opts  ["-m" "polylith.clj-deps-ring.cli.main"]}}}
