{:polylith {:top-namespace "clojure.realworld"}

 :aliases  {:test {:extra-deps {tengstrand/polylith {:git/url   "https://github.com/tengstrand/polylith.git"
                                                     :sha       "b8357e9e1c04eeeaed5e603aa9a48cf936f0d6ad"
                                                     :deps/root "environments/core"}}
                   :main-opts  ["-m" "polylith.tool.poly" "test"]}}}
