{:deps {:aliases [:dev :test]}

 :fs-watch {:hawk false}

 :nrepl {:write-port-file true}

 :builds {:realworld-frontend
          {:target :browser
           :output-dir "projects/realworld-frontend/resources/realworld_frontend/public/js"
           :asset-path "/js"

           :modules {:main {:init-fn clojure.realworld.web-app.main/init}}

           :compiler-options {:shadow-keywords true}

           :devtools {:http-root "projects/realworld-frontend/resources/realworld_frontend/public"
                      :http-port 3000}}

          :test 
          {:target :browser-test
                 :test-dir "out/test"
                 :ns-regexp "-test$"
                 :compiler-options {:static-fns false}
                 :js-options {:resolve {"http2" false}}
                 :devtools {:http-root "out/test"
                            :http-port 3001}}}}
