{:paths [; Polylith Workspace Interfaces
         "../../interfaces/src"

         ; Component source
         "resources"
         "src"]

 :deps  {clj-time               {:mvn/version "0.14.2"}
         honeysql               {:mvn/version "0.9.2"}
         metosin/spec-tools     {:mvn/version "0.6.1"}
         org.clojure/clojure    {:mvn/version "1.10.0"}
         org.clojure/java.jdbc  {:mvn/version "0.7.5"}
         org.xerial/sqlite-jdbc {:mvn/version "3.7.2"}}}
