{:paths ["src" "resources"]
 :deps {reagent/reagent {:mvn/version "1.2.0"}
        re-frame/re-frame  {:mvn/version "1.4.3"}
        bidi/bidi {:mvn/version "2.1.6"}
        kibu/pushy {:mvn/version "0.3.8"}
        day8.re-frame/http-fx {:mvn/version "0.2.4"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps []}}}
