{:paths ["src"]
 :deps {com.github.seancorfield/honeysql {:mvn/version "2.7.1340"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps []}}}
